@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link type="text/css" rel="stylesheet" href="/css/NewMeasure.css">
@model Measure


<style>


    input[type="checkbox"] {
        margin-top: auto;
        margin-bottom: auto;
    }

    .checkbox-style {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #52a7e3;
        /* margin-top: auto;
                                    margin-bottom: auto;*/
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        margin-left: 1rem;
    }

        .checkbox-style:checked {
            background-color: #1e90ff;
            border: 1px solid #1e90ff;
        }

    .mainDiv {
        width: 85%;
        background-color: #52a7e4;
        padding-bottom: 1rem;
        margin: auto;
        margin-left: 4.2rem;
    }

    .textCenter {
        margin-top: auto;
        margin-bottom: auto;
    }

    .mainBox, .mainBoxClient
    {
        position: absolute;
        display: none;
        z-index: 1;
        top: 22rem;
    }


    #addMembers, #addMembersClient {
        width: 8rem;
        height: 2rem;
        margin: 0.8rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.7rem;
        background-color: #111624;
        color: #52a7e4;
        border: none;
        cursor: pointer;
    }

    .memb, .membClient {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        margin-left: 1rem;
        height: 2.5rem;
        background: #a0d7ff;
        border: 1px solid #52a7e4;
        margin: 0.5rem;
    }

    input[type="time"], input[type="number"] {
        box-sizing: border-box;
        display: flex;
        height: 2.313rem;
        width: 5rem;
        flex-direction: row;
        align-items: center;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        padding-top: 0.2rem;
        padding-bottom: 0.375rem;
        margin-left: 0.5rem;
        background: #111624;
        border: 1px solid #52a7e4;
        border-radius: 0.625rem;
        color: #52a7e4;
        font-family: "Inter";
        font-style: normal;
        font-size: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

        .buttons button {
            width: 12rem;
            height: 2.7rem;
            margin: 1rem;
            background: #52a7e4;
            border-radius: 15px;
            cursor: pointer;
            border: none;
        }

    /*--------------------------------window with users*/
    .membersWindow {
        width: 7.6rem;
        height: 2.1rem;
        border: none;
        cursor: pointer;
        background: #52a7e4;
        border-radius: 15px 15px 0px 0px;
    }

        .membersWindow p {
            width: 6.5rem;
            height: 24px;
            left: 45rem;
            top: 37rem;
            text-align: end;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #111624;
        }

    .box2, .box2Client {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 29rem;
        height: 17.5rem;
        left: 622px;
        top: 42rem;
        background: #111624;
        border: 1px solid #52a7e4;
    }

    .first {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 3rem;
        left: 44.86rem;
        width: 27.4rem;
        margin-left: 0.428rem;
        margin-right: 1.214rem;
        margin-top: 0.642rem;
        background: #111624;
        border: 1px solid #52a7e4;
    }

    .block {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 11.4rem;
        height: 2.1rem;
        left: 45.64rem;
        top: 39.85rem;
        margin-left: 0.8rem;
        background: #a0d7ff;
    }

        .block img {
            width: 1.6rem;
            height: 1.6rem;
            left: 647px;
            margin-left: 0.5rem;
            top: 562px;
            border-radius: 50%;
            border: 1px solid #52a7e4;
        }

        .block p {
            width: 8.35rem;
            height: 1.714rem;
            white-space: nowrap;
            margin-left: 0.9rem;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #111624;
        }

    .inpSearch {
        width: 11rem;
        height: 1.7rem;
        margin-left: 4rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        background-color: #111624;
        color: #52a7e4;
        border: none;
    }

    input:focus {
        outline: none;
    }

    .secondBox, .secondBoxClient {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 29rem;
        margin-top: 1rem;
        overflow: scroll;
        /*для вертикального*/
        overflow-x: hidden; /*для горизонтального*/
    }

    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #52a7e4;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(180deg, #00c6fb, #005bea);
        }



    .inBox, .inBoxClient {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 2.5rem;
        left: 45.57rem;
        margin-top: 1rem;
        width: 27.51rem;
        margin-left: 0.428rem;
        margin-right: 1.214rem;
    }

        .inBox:hover, .inBoxClient:hover {
            background-color: #52a7e4;
        }

        .inBox p:hover, .inBoxClient p:hover {
            color: #111624;
        }

        .inBox img, .inBoxClient img {
            width: 2rem;
            height: 2rem;
            left: 46rem;
            top: 43.14rem;
            border-radius: 50%;
            border: 1px solid #a0d7ff;
            margin-left: 0.7rem;
        }


        .inBox p, .inBoxClient p{
            width: 7.857rem;
            height: 18px;
            left: 674px;
            top: 603px;
            margin-left: 3rem;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 18px;
        }

    .bird {
        width: 15.5px;
        height: 15px;
        top: 650px;
        color: #111624;
        margin: 0.57rem 0.71rem 1.2rem 12rem;
    }

    .containerTime {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        /*    justify-content: center;*/
    }


    .checkAllDay span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.1rem;
        color: #52a7e4;
    }

    #parent_Shedules {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: stretch;
    }

    .parent, .parentClient {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .close {
        color: #111624;
        cursor: pointer;
        margin-left:1rem;
    }

    p {
        height: 2.5rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.5rem;
        white-space: nowrap;
        color: #52a7e4;
    }


    .name, .nameClient {
        width: 15rem;
        height: 30px;
        font-weight: bold;
        font-family: "Inter";
        font-style: normal;
        font-size: 1.5rem;
        line-height: 30px;
        margin: 1rem;
        color: #111624;
    }
</style>

<body>
    <div class="mainDiv">
        <p class="pNew">Захід</p>

        <div class="insideDiv">
            <form id="eventForm" asp-controller="Meassure" asp-action="AddMeasure" method="POST">
                
                <div>
                    <label class="labelF">Новий захід</label>
                    <input type="text" class="inputF" asp-for="@Model.MeasureName" />
                </div>
                <div class="description">
                    <div class="divDescr">
                        <p class="styleP">Місце проведення</p>
                    </div>
                    <select name="placeSpend">

                        @foreach (PlaceForMeasure item in ViewBag.Place)
                        {
                            <option value="@item.Id">@item.PlaceForMeasureName</option>
                        }
                    </select>
                </div>
                <hr />

                @*Add Clients--------------------------------------------------------------*@
                <div class="description">
                    <div class="divDescr">
                        <p class="styleP">Слієнти</p>
                    </div>

                    <div class="members">

                        <div id="parentClient" class="parentClient">
                            @*  <div class="membClient">
                            <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                            <p class="nameClient"> @ViewBag.NameUser</p>
                            <div id="close" class="close">&#10006;</div>
                            </div>*@
                        </div>


                        <div id="addMembersClient">+ Додати</div>

                        <div class="mainBoxClient" @*style="display: none"*@>
                            @*<div class="membersWindow">учасники</div>*@

                            <div class="box2Client">
                                <!-- <div class="first">
                                  <div class="block">
                                    <img src="./Img/photo.jpeg" />
                                    <p>W1sh Agony</p>
                                    <div>
                                      <input class="inpSearch" type="search" placeholder="Пошук" />
                                    </div>
                                  </div>
                                </div>  -->

                                <div class="secondBoxClient">

                                    @foreach (var itemUsers in ViewBag.Clients)
                                    {
                                        <div class="inBoxClient">
                                            <p class="clientName">@itemUsers.ClientName</p>
                                            <span class="clientId" hidden>@itemUsers.Id</span>
                                            <div class="bird">&#10004;</div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="divTime">
                    <div class="timeText">
                        <p class="time styleP">Інтервал заходу</p>
                    </div>

                    <div class="containerTime">
                        <div class="textDateTime">
                            <p>Дата і час початку</p>
                        </div>

                        <div class="end">
                            <span class="endP">Дата і час закінчення</span>
                        </div>
                    </div>

                    <div class="divDate">
                        <input type="date" name="dateField1" id="date1" />
                        <input type="time" class="superstyle" id="time1" name="timeField1" />
                        <div class="ture"></div>
                        <input type="date" name="dateField2" id="date2" />
                        <input type="time" class="superstyle" id="time2" name="timeField2" />
                    </div>

                    <div class="checkAllDay">
                        <input type="checkbox" class="checkbox-style" id="CheckAllDayBox" />
                        <span>Весь день</span>
                    </div>
                </div>
                <hr />

                <!-- <div class="description">
                  <div class="divDescr">
                    <p>Опис</p>
                  </div>
                  <textarea
                    name="message"
                    cols="10"
                    rows="3"
                    placeholder="Enter text . . ."
                  ></textarea>
                </div>
                <hr /> -->

               
                
                <div class="description">
                    <div class="divDescr">
                        <p class="styleP">Учасники</p>
                    </div>

                    <div class="members">

                        <div id="parent" class="parent">
                            <div class="memb">
                                <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                                <p class="name"> @ViewBag.NameUser</p>
                            </div>
                        </div>

                        <div id="addMembers">+ Додати</div>

                        <div class="mainBox">
                            @*<div class="membersWindow">учасники</div>*@

                            <div class="box2">
                                <!-- <div class="first">
                                  <div class="block">
                                    <img src="./Img/photo.jpeg" />
                                    <p>W1sh Agony</p>
                                    <div>
                                      <input class="inpSearch" type="search" placeholder="Пошук" />
                                    </div>
                                  </div>
                                </div>  -->

                                <div class="secondBox">

                                    @foreach (var itemUsers in ViewBag.Users)
                                    {
                                        <div class="inBox">
                                            <img src="~/Imeg1/@itemUsers.UserName/@itemUsers.PathImgAVA" />
                                            <p class="userName">@itemUsers.UserName</p>
                                            <span class="userId" hidden>@itemUsers.Id</span>
                                            <div class="bird">&#10004;</div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="hard">
                    <div class="coWorkers" id="coWorkers">
                        <div class="people">
                            <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                            <p class="peopleP styleP">@ViewBag.NameUser</p>
                        </div>
                    </div>


                    <div id="parent_Shedules">

                        <div class="shedule">
                            <div class="day">@ViewBag.Date</div>

                            <div class="time-span-row">
                                <div>7-00</div>
                                <div>8-00</div>
                                <div>9-00</div>
                                <div>10-00</div>
                                <div>11-00</div>
                                <div>12-00</div>
                                <div>13-00</div>
                                <div>14-00</div>
                                <div>15-00</div>
                                <div>16-00</div>
                                <div>17-00</div>
                                <div>18-00</div>
                                <div>19-00</div>
                                <div>20-00</div>
                                <div>21-00</div>
                                <div>22-00</div>

                            </div>

                            <div class="time-span-row time-blocks">
                                <div class="time-change-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>

                            </div>

                            <div class="time-span-row">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="usefullClass">
                    <div class="checkConfirm">
                        <label class="textCenter" for="confirmMembers">
                            Сповіщати про підтвердження/відмові учасників
                        </label>
                        <input type="checkbox" id="confirmMembers" class="checkbox-style" />
                    </div>
                    <div class="checkConfirm">
                        <label class="textCenter" for="freePlaces">
                            Вільних місць в аудиторії:
                        </label>
                        <input type="number" id="freePlaces" asp-for="@Model.FreePlaces" />

                    </div>
                </div>
                <div class="buttons">
                    <button type="submit">Зберегти</button>
                    <button type="reset">Відмінити</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/jquery-3.6.1.min.js" asp-append-version="true"></script>
    <script src="~/js/SashaTimeLine.js" asp-append-version="true"></script>
    <script src="~/js/file.js" asp-append-version="true"></script>


    <script>
        //MEASURE;

        $(function () {

            var dateStart = $('#date1').val();//
            var dateEnd = $('#date2').val();

            $('#addMembers').click(function () {
                $(".mainBox").fadeToggle(100);

            });



            $('#CheckAllDayBox').click(function () {
                $('#time1').fadeToggle(200);
                $('#time2').fadeToggle(200);


                //var dateObject = new Date(dateStart);
                //$('#date2').val()=dateStart;

                var dateValue = $('#date1').val();
                $('#date2').val(dateValue);

            });


            $('#addMembersClient').click(function ()  //FOR CLIENTS
            {
                $(".mainBoxClient").fadeToggle(100);

            });

             //ADD CLIENTS
            $('.inBoxClient').click(function (e) 
            {
                 //
                //const imgSrcClient = $(this).find('img').attr('src');
                const clientId = $(this).find(".clientId").text();
                const clientName = $(this).find('.clientName').text();

                console.log(clientId);
                console.log(clientName);


                //All client on this Event
                const listClient = document.querySelectorAll(".membClient");
                console.log(listClient);

                const formClient = document.getElementById("eventForm");

                const inputClient = document.createElement("input");
                inputClient.hidden = true;
                inputClient.name = "userId";
                inputClient.setAttribute("value", clientId);
                console.log("ClientOk")
                formClient.appendChild(inputClient);


               
                //Create blocks with users
                const parentClient = document.getElementById("parentClient");

                const divClient = document.createElement("div");
                divClient.className = "membClient";
                divClient.id = clientId;


                const pClient = document.createElement("p");
                pClient.className = "nameClient";
                pClient.innerText = clientName;

                //Create close button
                const divClose = document.createElement("div");
                divClose.className = "close";
                divClose.innerHTML = "&#10006;";


                //divClient.appendChild(img);
                divClient.appendChild(pClient);
                divClient.appendChild(divClose);
                parentClient.appendChild(divClient);


                // Добавить обработчик события "click" на элемент "divClose"
                divClose.addEventListener("click", function () {
                    parentClient.removeChild(divClient);
                                      
                });

                $(".mainBoxClient").css("display", "none");// закриваємо блок з users
                 $(this).hide();
            });




            //при натисканні на блок з учасником,інфо-бокс про учасника  додається поруч з організатором подіїю Також створюється шкала з часом
            $('.inBox').click(function (e) {

                const imgSrc = $(this).find('img').attr('src');
                const userId = $(this).find(".userId").text();
                const userName = $(this).find('.userName').text();

                console.log(userId);
                console.log(userName);
                console.log(imgSrc);

                // create block with users-info
                const parent = document.getElementById("parent");

                const div = document.createElement("div");
                div.className = "memb";
                div.id = userId;



                const img = document.createElement("img");
                img.setAttribute("src", imgSrc);

                const p = document.createElement("p");
                p.className = "name";
                p.innerText = userName;

                //Create close button
                const divClose = document.createElement("div");
                divClose.className = "close";
                divClose.innerHTML = "&#10006;";

                div.appendChild(img);
                div.appendChild(p);
                div.appendChild(divClose);

                parent.appendChild(div);


                const list = document.querySelectorAll(".memb");
                console.log(list);

                const form = document.getElementById("eventForm");

                const input = document.createElement("input");
                input.hidden = true;
                input.name = "userId";
                input.setAttribute("value", userId);

                form.appendChild(input);


                //////////////////////////////////////////////////////////

                //CREATE Shedule Block для учасників події

                // создаем родительский элемент
                const parent_Shedules = document.getElementById("parent_Shedules");

                // создаем дочерний элемент "div" и добавляем ему класс "shedule"
                const schedule = document.createElement("div");
                schedule.classList.add("shedule");

                // создаем элемент "div" и добавляем ему класс "day"
                const day = document.createElement("div");
                day.classList.add("day");
                day.textContent = dateStart; // добавляем текст в элемент

                // создаем первую строку времени
                const timeSpanRow1 = document.createElement("div");
                timeSpanRow1.classList.add("time-span-row");

                // создаем элементы времени и добавляем их в первую строку времени
                for (let i = 7; i <= 22; i++) {
                    const time = document.createElement("div");
                    time.textContent = i + "-00";
                    timeSpanRow1.appendChild(time);
                }

                // создаем
                const timeSpanRow2 = document.createElement("div");
                timeSpanRow2.classList.add("time-span-row", "time-blocks");

                //block c классом "time-change-block"
                const timeChange_Block = document.createElement("div");
                timeChange_Block.classList.add("time-change-block");
                timeSpanRow2.appendChild(timeChange_Block);


                // создаем элементы для блоков времени и добавляем их во вторую строку времени
                for (let i = 0; i < 16; i++) {
                    const timeBlock = document.createElement("div");
                    timeBlock.classList.add("time-block");
                    timeSpanRow2.appendChild(timeBlock);
                }

                // создаем третью строку времени
                const timeSpanRow3 = document.createElement("div");
                timeSpanRow3.classList.add("time-span-row");

                // создаем 17 элементов и добавляем их в третью строку времени
                for (let i = 0; i < 17; i++) {
                    const empty = document.createElement("div");
                    timeSpanRow3.appendChild(empty);
                }

                // добавляем элементы в родительский элемент
                schedule.appendChild(day);
                schedule.appendChild(timeSpanRow1);
                schedule.appendChild(timeSpanRow2);
                schedule.appendChild(timeSpanRow3);
                parent_Shedules.appendChild(schedule);



                //ADD USER for Shedule
                //<div class="coWorkers" >
                //    <div class="people" >
                //        <img src="@ViewBag.ImgPath" />
                //            <p class="peopleP styleP" > @ViewBag.NameUser</p>
                //                </div>
                //                </div>


                const parent3 = document.getElementById("coWorkers");

                const div2 = document.createElement("div");
                div2.className = "people";
                //div2.id = userId;

                const img2 = document.createElement("img");
                img2.setAttribute("src", imgSrc);

                const p2 = document.createElement("p");
                p2.className = "peopleP";
                p2.innerText = userName;

                div2.appendChild(img2);
                div2.appendChild(p2);

                parent3.appendChild(div2)

                
                // Добавить обработчик события "click" на элемент "divClose"
                divClose.addEventListener("click", function () {
                    parent.removeChild(div);
                    parent_Shedules.removeChild(schedule);
                    coWorkers.removeChild(div2);
                });

                $(".mainBox").css("display","none");// закриваємо блок з users

                $(this).hide();

            });

            //$('.inBox').click(function () {
            //    $(".mainBox").css("display", "none");
            //});

        });









          //var dateStart= document.getElementById("date1");
             //dateInput.value = "@ViewBag?.Date";
            //var dateEnd = document.getElementById("date2");
           //dateEnd.value = "@ViewBag?.DateEnd";


    </script>

</body>