@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/MEVIORegistStudent.css" asp-append-version="true" />




<body>



    @model Student

    <div class="register-student-contener">

        


        <div class="divContenerZap">
            <div class="div-buttons">
                <input id="ZapClient1" onclick="changeStyle(event)" class="buttonstyleStudent input-button active-button" type="button" value="Client">
                <input id="ZapStudet1" onclick="changeStyle(event)" class="buttonstyleTeaher input-button" type="button" value="Student">
                <input id="ZapContract1" onclick="changeStyle(event)" class="buttonstyleStudent input-button" type="button" value="Contract">
                <input id="ZapTeacher1" onclick="changeStyle(event)" class="buttonstyleTeaher input-button" type="button" value="Teacher">
            </div>
            <div class="classPodcherk"> </div>


            <form enctype="multipart/form-data" asp-action="ZapClient">
                <div id="Client" class="contener2 active">
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Name:</p>
                        <input type="text" class="divStrockZap2" name="ClientName" style="top: 95px;  left: 400px;" placeholder="Oleg">
                    </div>
                    


                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Client Status</p>
                        <select name="StatusName" class="divStrockZap2">

                            <option selected>Status...</option>
                            @foreach (var item in ViewBag.Status)
                            {
                                <option value="@item.StatusName">@item.StatusName</option>
                            }
                        </select>
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 487px;">PersonDocumentNumber:</p>
                        <input type="text" class="divStrockZap2" name="PassportNumber" style="top: 485px;  left: 400px;" placeholder="533535">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 487px;">DateOfPassportIssue:</p>
                        <input type="date" class="divStrockZap2 conData" name="DateOfPassportIssue" style="top: 485px;  left: 400px;" placeholder="">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">TIN:</p>
                        <input type="text" class="divStrockZap2" name="TIN" style="top: 95px;  left: 400px;" placeholder="4543665734525">
                    </div>
                    <div class="classPodcherk"> </div>


                    <div class="div-buttons2">
                        @* <input class="buttonstyleStudent2" type="button" value="Заповнити договір">*@
                        <input class="buttonstyleTeaher2 input-button" type="submit" value="Зберегти">
                    </div>
                </div>
            </form>



            <form enctype="multipart/form-data" asp-action="ZapStudent">
                <div id="Student" class="contener2">
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Name:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.StudentName" style="top: 95px;  left: 400px;" placeholder="Oleg">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:157px">Phone:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.Phone" style="top:161px;  left: 400px;" placeholder="38069812114">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:223px">Email:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.Email" style="top: 227px;  left: 400px;" placeholder="blabla@gmail.com">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:289px">DataBerthday:</p>
                        <input type="text" class="divStrockZap2 ConData" asp-for="@Model.Birthdate" style="top: 293px;  left: 400px;" placeholder="20.05.2004">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:365px">MyStatLogin:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.MyStatLogin" style="top: 361px;  left: 400px;" placeholder="teny_ny02">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:421px">Password:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.MyStatPassword" style="top: 425px;  left: 400px;" placeholder="8g3Q0glm4">
                    </div>



                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 553px;">Login365:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.Login365" style="top: 554px;  left: 400px;" placeholder="blabla@student.itstep.org">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 619px;">StudentCode:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.StudentCode" style="top: 623px;  left: 400px;" placeholder="5359118734">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 685px;">PersonDocumentNumber:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.PersonDocumentNumber" style="top: 685px;  left: 400px;" placeholder="2834791392487">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 751px;">DateOfIssuePasport:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.DateOfIssuePassport" style="top: 753px;  left: 400px;" placeholder="Number Pasport">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 817px;">Photo:</p>
                        <label class="input-file-button divStrockZap2" for="files" tabindex="0">Choose a file</label>
                        <input hidden class="input-file-hidden" asp-for="@Model.PathImgAVA" type="file" id="files" name="files" multiple tabindex="-1">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 817px;">TIN:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.TIN" style="top: 818px;  left: 400px;" placeholder="533535">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 883px;">IsDiscount:</p>
                        <span class="Chek">
                            <input id="IsDiscountTrue" asp-for="@Model.IsDicount" value="true" class="divStrockCheckBoxZap2" type="checkbox" onchange="toggleDiscountDescription()" />
                            <label for="IsDiscountTrue">True</label>
                        </span>
                        <span class="Chek">
                            <input id="IsDiscountFalse" asp-for="@Model.IsDicount" value="false" class="divStrockCheckBoxZap2" onchange="toggleDiscountDescription()" type="checkbox" />
                            <label for="IsDiscountFalse">False</label>
                        </span>
                    </div>
                    <div class="div-p-input">
                        <p style="color:red;font-size:30px; ">!*</p><p class="divStrockZap" style="top: 487px;">DiscountDescription:</p>
                        <input type="text" class="divStrockZap2" asp-for="@Model.Discount_Description" style="top: 485px;  left: 400px;" placeholder="Invalid">
                    </div>
                    <div id="hiden">

                        <div class="div-p-input">
                            <p class="divStrockZap" style="top: 949px;">DiscountSum:</p>
                            <input type="text" class="divStrockZap2" asp-for="@Model.DiscountSum" style="top: 949px;  left: 400px;" placeholder="500 UAN">
                        </div>
                    </div>
                    @* <div class="div-p-input">
                    <p class="divStrockZap" style="top: 949px;">Education Form:</p>
                    <select name="Contract" class="divStrockZap2">

                    <option selected>Education Form...</option>
                    @foreach (var item in ViewBag.Contract)
                    {
                    <option value="@item.">@item.DateStamp</option>
                    }
                    </select>
                    </div>*@

                    <div class="classPodcherk"> </div>


                    <div class="div-buttons2">
                        @*<input asp-action="ZapContract" asp-controller="ZapStudent" class="buttonstyleStudent2 input-button" type="button" value="Заповнити договір">*@
                        <input class="buttonstyleTeaher2 input-button" type="submit" value="Зберегти">
                    </div>
                </div>

            </form>


            <form enctype="multipart/form-data" asp-action="ZapContract">
                <div id="Contract" class="contener2">

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Client Name</p>
                        <select name="ClientId" class="divStrockZap2">

                            <option selected>Name...</option>
                            @foreach (var item in ViewBag.ClientID)
                            {
                                <option value="@item.Id">@item.ClientName</option>
                            }
                        </select>
                    </div>


                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Student</p>
                        <select name="Studentsid" class="divStrockZap2">

                            <option selected>Student...</option>
                            @foreach (var student in ViewBag.Students)
                            {
                                <option value="@student.Id">@student.StudentName</option>
                            }
                        </select>
                    </div>

             
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Payment Form:</p>
                        <input type="text" class="divStrockZap2" name="Payment_Form" style="top: 95px;  left: 400px;" placeholder="Частинами">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">DateStamp:</p>
                        <input type="date" name="DateStamp" class="conData divStrockZap2" style="top: 95px;  left: 400px;">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Education Form</p>
                        <select name="EducationForm" class="divStrockZap2">

                            <option selected>Education Form...</option>
                            @foreach (var item in ViewBag.EducationFormId)
                            {
                                <option value="@item.Id">@item.EducationFormName</option>
                            }
                        </select>
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Academy</p>
                        <select name="Academyid" class="divStrockZap2">

                            <option selected>Academy Name...</option>
                            @foreach (var item in ViewBag.AcademiID)
                            {
                                <option value="@item.Id">@item.AcademyName</option>
                            }
                        </select>
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Season</p>
                        <select name="Seasonid" class="divStrockZap2">

                            <option selected>Season...</option>
                            @foreach (var item in ViewBag.SeasonID)
                            {
                                <option value="@item.Id">@item.SeasonName</option>
                            }
                        </select>
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Season</p>
                        <select name="Measureid" class="divStrockZap2">

                            <option selected>Measure...</option>
                            @foreach (var item in ViewBag.Measure)
                            {
                                <option value="@item.Id">@item.MeasureName</option>
                            }
                        </select>
                    </div>

                    <div class="classPodcherk"> </div>


                    <div class="div-buttons2">
                        @* <input class="buttonstyleStudent2" type="button" value="Заповнити договір">*@
                        <input class="buttonstyleTeaher2 input-button" type="submit" value="Зберегти та Заповнити договір">
                    </div>
                </div>
            </form>





            <form enctype="multipart/form-data" method="post" asp-action="ZapTeacher">
                <div id="Teacher" class="contener2">
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Name:</p>
                        <input class="divStrockZap2" name="UserName" style="top: 95px;  left: 400px;" placeholder="Oleg">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:157px">Email:</p>
                        <input class="divStrockZap2" name="Email" style="top: 161px;  left: 400px;" placeholder="blabla@gmail.com">
                    </div>


                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:223px">Password:</p>
                        <input class="divStrockZap2" name="Password" style="top: 227px;  left: 400px;" placeholder="8g3Q0glm4">
                    </div>
                    @*Date LastTime*@
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Last Time Sign In:</p>
                        <input type="date" name="LastTimeSignIn" class="divStrockZap2 conData" style="top: 95px;  left: 400px;">
                    </div>

                    @*Date Birthdate*@
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 91px; ">Birthdate:</p>
                        <input type="date" name="Birthdate" class="divStrockZap2 conData" style="top: 95px;  left: 400px;">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 949px;">Role User</p>
                        <select name="UserRoleId" class="divStrockZap2">

                            <option selected>Role...</option>
                            @foreach (var item in ViewBag.RoleId)
                            {
                                <option value="@item.UserRoleName">@item.UserRoleName</option>
                            }
                        </select>
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top:289px">Phone:</p>
                        <input type="text" class="divStrockZap2" name="Phone" style="top:293px;  left: 400px;" placeholder="38069812114">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 365px;">PersonDocumentNumber:</p>
                        <input type="text" class="divStrockZap2" name="PassportNumber" style="top: 361px;  left: 400px;" placeholder="2834791392487">
                    </div>

                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 421px;">Date Of Issue Pasport:</p>
                        <input type="date" class="divStrockZap2 conData" name="DateOfPassportIssue" style="top: 425px;  left: 400px;" placeholder="Number Pasport">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 817px;">Photo:</p>

                        <label class="input-file-button divStrockZap2" for="fileTeacher" tabindex="0">Choose a file</label>
                        @*<input class="input-file-hidden" type="file" id="files" name="files"  tabindex="-1">*@
                        <input hidden type="file" class=" input-file-hidden" name="PathImgAVA" id="fileTeacher" placeholder="Choose file" tabindex="-1">
                    </div>
                    <div class="div-p-input">
                        <p class="divStrockZap" style="top: 487px;">TIN:</p>
                        <input type="text" name="TIN" class="divStrockZap2" style="top: 485px;  left: 400px;" placeholder="533535">
                    </div>

                    <div class="classPodcherk"> </div>


                    <div class="div-buttons2">
                        @* <input class="buttonstyleStudent2" type="button" value="Заповнити договір">*@
                        <input class="buttonstyleTeaher2 input-button" type="submit" value="Зберегти">
                    </div>
                </div>
            </form>
        </div>

    </div>




</body>





@*
<script>
    function toggleDiscountDescription() {
        var discountCheckBoxes = document.querySelectorAll('.divStrockCheckBoxZap2');
        var hidenDiv = document.getElementById('hiden');
        var checkedCount = 0;
        for (var i = 0; i < discountCheckBoxes.length; i++) {
            if (discountCheckBoxes[i].checked) {
                checkedCount++;
                if (checkedCount > 1) {
                    discountCheckBoxes[i].checked = false;
                    return;
                }

            }
        }
        if (discountCheckBoxes[0].checked) {
            hidenDiv.style.display = "block";
        } else {
            hidenDiv.style.display = "none";
        }
    }
</script>*@

<script>


    function toggleDiscountDescription() {
        var discountCheckBoxes = document.querySelectorAll('.divStrockCheckBoxZap2');
        var hidenDiv = document.getElementById('hiden');
        if (discountCheckBoxes[0].checked) {
            hidenDiv.style.display = "block";
            discountCheckBoxes[1].disabled = true;
        } else if (discountCheckBoxes[1].checked) {
            hidenDiv.style.display = "none";
            discountCheckBoxes[0].disabled = true;
        } else {
            hidenDiv.style.display = "none";
            discountCheckBoxes[0].disabled = false;
            discountCheckBoxes[1].disabled = false;
        }
    }

    const btn1 = document.getElementById('ZapClient1');
    const btn2 = document.getElementById('ZapStudet1');
    const btn3 = document.getElementById('ZapContract1');
    const btn4 = document.getElementById('ZapTeacher1');

    const block1 = document.getElementById('Client');
    const block2 = document.getElementById('Student');
    const block3 = document.getElementById('Contract');
    const block4 = document.getElementById('Teacher');


    btn1.addEventListener('click', () => {
        block1.classList.add('active');
        block2.classList.remove('active');
        block3.classList.remove('active');
        block4.classList.remove('active');

    });

    btn2.addEventListener('click', () => {
        block1.classList.remove('active');
        block2.classList.add('active');
        block3.classList.remove('active');
        block4.classList.remove('active');

    });

    btn3.addEventListener('click', () => {
        block1.classList.remove('active');
        block2.classList.remove('active');
        block3.classList.add('active');
        block4.classList.remove('active');

    });


    btn4.addEventListener('click', () => {
        block1.classList.remove('active');
        block2.classList.remove('active');
        block3.classList.remove('active');
        block4.classList.add('active');

    });

    function changeStyle(event) {
        var button = event.target;

        $(button).closest(".div-buttons").find(".active-button").removeClass("active-button");
        $(button).addClass("active-button");
        
        
    }

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>