@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<link type="text/css" rel="stylesheet" href="/css/NewEvent.css">

@model Event



<style>
    /* .time-span-row {
            display: grid;
            grid-template-columns: repeat(18, 1fr);
            width: 100%;
        }

            .time-span-row > div {
                border-right: 1px solid #52a7e4;
                color: white;
                padding: 0.3rem;
                font-size: 0.8rem;
                /* align-self: center; */
    /* width: 100%; */
    .people {
        display: flex;
        margin-top: 4.9rem;
        font-size: 1.3rem;
    }

    .time-block {
        width: 100%;
        height: 1.5rem;
        background-color: #a09595;
    }

    .time-blocks {
        position: relative;
    }

    .time-change-block {
        position: absolute;
        top: -0.25rem;
        background-color: #52a7e4;
        height: 2rem;
        width: 3rem;
        opacity: 0.8;
        cursor: move;
    }

    
    /*/  /*/
    #parent_Shedules {
        display: flex;
        flex-direction: column;
        width:100%;
        flex: 1;
    /*justify-content: stretch;*/
    }

    input[type="checkbox"] {
        margin-top: auto;
        margin-bottom: auto;
    }

    .checkbox-style {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #52a7e3;
        /* margin-top: auto;
                            margin-bottom: auto;*/
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        margin-left: 1rem;
    }

        .checkbox-style:checked {
            background-color: #1e90ff;
            border: 1px solid #1e90ff;
        }

    .mainDiv {
        width: 90%;
        background-color: #52a7e4;
        padding-bottom: 1rem;
        margin: auto;
    }


    input[type="date"], input[type="datetime-local"] {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.313rem 0.813rem;
        gap: 0.438rem;
        width: 15.625rem; /*changed for new datetime from 10.625*/
        height: 2.313rem;
        left: 0.5rem;
        top: 9.313rem;
        background: #111624;
        border: 1px solid #52a7e4;
        border-radius: 0.625rem;
        color: #52a7e4;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        transform: (-50%, -50%);
        background: url("/img/free-icon-calendar-747824.png") no-repeat center;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 95%;
        padding: 0.313rem;
    }


    .time-span-row {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        width: 100%;
    }

    .superstyle::-webkit-inner-spin-button,
    .superstyle::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }


    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        /* display: none;*/

        position: relative;
        z-index: 1;
        opacity: 0;
    }


    input[type="time"] {
        box-sizing: border-box;
        display: flex;
        height: 2.313rem;
        width: 5.2rem;
        flex-direction: row;
        align-items: center;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        padding-top: 0.2rem;
        padding-bottom: 0.375rem;
        margin-left: 0.5rem;
        background: #111624;
        border: 1px solid #52a7e4;
        border-radius: 0.625rem;
        color: #52a7e4;
        font-family: "Inter";
        font-style: normal;
        font-size: 1rem;
    }

    #addMembers {
        width: 8rem;
        height: 2rem;
        margin: 0.8rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.7rem;
        background-color: #111624;
        color: #52a7e4;
        border: none;
        cursor: pointer;
    }

    .mainBox {
        position: absolute;
        display: none;
        z-index: 1;
        top: 22rem;
    }

    .textCenter {
        margin-top: auto;
        margin-bottom: auto;
    }

    .styleP {
        width: 5rem;
        height: 2.5rem;
        font-size: 1.3rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        line-height: 2.5rem;
        white-space: nowrap;
        color: #52a7e4;
        margin-right: 1rem;
    }
    /*/////////////////////////////////////*window*/
    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .membersWindow {
        width: 7.6rem;
        height: 2.1rem;
        /* left: 44.5rem;
                        top: 36.8rem;*/
        border: none;
        cursor: pointer;
        background: #52a7e4;
        border-radius: 15px 15px 0px 0px;
    }

        .membersWindow p {
            width: 6.5rem;
            height: 24px;
            left: 45rem;
            top: 37rem;
            text-align: end;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #111624;
        }

    .box2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 29rem;
        height: 17.5rem;
        left: 622px;
        top: 42rem;
        background: #111624;
        border: 1px solid #52a7e4;
    }

    .first {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 3rem;
        left: 44.86rem;
        width: 27.4rem;
        margin-left: 0.428rem;
        margin-right: 1.214rem;
        margin-top: 0.642rem;
        background: #111624;
        border: 1px solid #52a7e4;
    }

    .block {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 11.4rem;
        height: 2.1rem;
        left: 45.64rem;
        top: 39.85rem;
        margin-left: 0.8rem;
        background: #a0d7ff;
    }

        .block img {
            width: 1.6rem;
            height: 1.6rem;
            left: 647px;
            margin-left: 0.5rem;
            top: 562px;
            border-radius: 50%;
            border: 1px solid #52a7e4;
        }

        .block p {
            width: 8.35rem;
            height: 1.714rem;
            white-space: nowrap;
            margin-left: 0.9rem;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #111624;
        }

    .inpSearch {
        width: 11rem;
        height: 1.7rem;
        margin-left: 4rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        background-color: #111624;
        color: #52a7e4;
        border: none;
    }

    input:focus {
        outline: none;
    }

    .secondBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 29rem;
        margin-top: 1rem;
        overflow: scroll;
        /*для вертикального*/
        overflow-x: hidden; /*для горизонтального*/
    }

    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #52a7e4;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(180deg, #00c6fb, #005bea);
        }



    .inBox {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 2.5rem;
        left: 45.57rem;
        margin-top: 1rem;
        width: 27.51rem;
        margin-left: 0.428rem;
        margin-right: 1.214rem;
    }

        .inBox:hover {
            background-color: #52a7e4;
        }

        .inBox p:hover {
            color: #111624;
        }

        .inBox img {
            width: 2rem;
            height: 2rem;
            left: 46rem;
            top: 43.14rem;
            border-radius: 50%;
            border: 1px solid #a0d7ff;
            margin-left: 0.7rem;
        }


        .inBox p {
            width: 7.857rem;
            height: 18px;
            left: 674px;
            top: 603px;
            margin-left: 3rem;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 18px;
        }

    .bird {
        width: 15.5px;
        height: 15px;
        top: 650px;
        color: #111624;
        margin: 0.57rem 0.71rem 1.2rem 12rem;
    }

</style>

<body>
    <div class="mainDiv">
        <p class="pNew">Нова подія</p>

        <form id="eventForm" asp-controller="Event" asp-action="AddEvent" method="post">
            <div class="insideDiv">
                <div>
                    <label class="labelF">Нова подія </label>
                    <input type="text" class="inputF" asp-for="@Model.EventName" />
                </div>


                <div class="description">
                    <div class="divDescr">
                        <p class="styleP">Опис</p>
                    </div>
                    <textarea asp-for="@Model.Description"
                              cols="10"
                              rows="3"
                              placeholder="Enter text . . ."></textarea>
                </div>
                <hr />
                <div class="divTime">
                    <div class="timeText">
                        <p class="time styleP">Час події</p>
                    </div>

                    <div class="containerTime">
                        <div class="textDateTime">
                            <p>Дата і час початку</p>
                        </div>

                        <div class="end">
                            <span class="endP">Дата і час закінчення</span>
                        </div>
                    </div>

                    <div class="divDate">
                        <input type="date" id="date1" name="dateField1" @*asp-for="@Model.Begin.Date"*@ />
                        <input type="time" class="superstyle" id="time1" name="timeField1" @* asp-for="@Model.Begin.TimeOfDay"*@ />
                        <div class="ture"></div>
                        <input type="date" id="date2" name="dateField2" @*asp-for="@Model.End.Date" *@ />
                        <input type="time" class="superstyle" id="time2" name="timeField2" @*asp-for="@Model.End.TimeOfDay"*@ />
@*
                        <input type="datetime-local" class="date11" id="date1" asp-for="@Model.Begin" />
                        <div class="ture"></div>
                        <input type="datetime-local" class="date11" id="date2" asp-for="@Model.End" />
*@
                    </div>

                    <div class="checkAllDay">
                        <input type="checkbox" id="CheckAllDay" class="checkbox-style" />
                        <span>Весь день</span>
                    </div>
                </div>
                <hr />
                <p class="co">Співробітники</p>

                <div class="hard">
                    <div class="coWorkers" id="coWorkers">
                        <div class="people">
                            <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                            @*<span class="userId" hidden>@itemUsers.Id</span>*@
                            <p class="peopleP"> @ViewBag.NameUser</p>
                        </div>
                    </div>

                    <div id="parent_Shedules">
                        <div class="shedule">
                            <div class="day">@ViewBag.CurrentDate</div>

                            <div class="time-span-row">
                                <div>7-00</div>
                                <div>8-00</div>
                                <div>9-00</div>
                                <div>10-00</div>
                                <div>11-00</div>
                                <div>12-00</div>
                                <div>13-00</div>
                                <div>14-00</div>
                                <div>15-00</div>
                                <div>16-00</div>
                                <div>17-00</div>
                                <div>18-00</div>
                                <div>19-00</div>
                                <div>20-00</div>
                                <div>21-00</div>
                                <div>22-00</div>
                            </div>

                            <div class="time-span-row time-blocks">
                                <div class="time-change-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                                <div class="time-block"></div>
                            </div>

                            <div class="time-span-row">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />


                <div class="description">
                    <div class="divDescr">
                        <p class="styleP">Учасники</p>
                    </div>

                    <div class="members">

                        <div id="parent" class="parent">
                            <div class="memb">
                                <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                                <p class="name"> @ViewBag.NameUser</p>
                            </div>
                        </div>


                        <div id="addMembers">+ Додати</div>

                        <div class="mainBox" @*style="display: none"*@>
                            @*<div class="membersWindow">учасники</div>*@

                            <div class="box2">
                                <!-- <div class="first">
                                  <div class="block">
                                    <img src="./Img/photo.jpeg" />
                                    <p>W1sh Agony</p>
                                    <div>
                                      <input class="inpSearch" type="search" placeholder="Пошук" />
                                    </div>
                                  </div>
                                </div>  -->

                                <div class="secondBox">

                                    @foreach (var itemUsers in ViewBag.Users)
                                    {
                                        <div class="inBox">
                                            <img src="~/Imeg1/@itemUsers.UserName/@itemUsers.PathImgAVA" />
                                            <p class="userName">@itemUsers.UserName</p>
                                            <span class="userId" hidden>@itemUsers.Id</span>
                                            <div class="bird">&#10004;</div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />



                <div class="checkConfirm">
                    <label class="textCenter">
                        Сповіщати про підтвердженні/відмові учасників
                    </label>
                    <input type="checkbox" class="checkbox-style" id="confirmMembers" />

                </div>
                <div class="buttons">
                    <button type="submit" id="sub">Зберегти</button>
                    <button type="reset">Відмінити</button>
                </div>
            </div>
        </form>
        @*
        <select name="placeSpend">

        @foreach (Student item in ViewBag.Stud)
        {
        <option value="@item.Id">@item.StudentName</option>
        }
        </select>*@

    </div>


    <script src="~/js/jquery-3.6.1.min.js" asp-append-version="true"></script>
    <script src="~/js/scriptEventMini2.js" asp-append-version="true"></script>
    <script src="~/js/SashaTimeLine.js" asp-append-version="true"></script>
    <script src="~/js/AddNewEvent.js"></script>


    <script>

        //EVENT
        $(function () {

            var dateStart = $('#date1').val();// 
            var dateEnd = $('#date2').val();

            $('#addMembers').click(function () {
                $(".mainBox").fadeToggle(100);

            });

            
            $('.inBox').click(function (e) 
            {
                 //
                const imgSrc = $(this).find('img').attr('src');
                const userId = $(this).find(".userId").text();
                const userName = $(this).find('.userName').text();

                console.log(userId);
                console.log(userName);
                console.log(imgSrc);

                //
                const parent = document.getElementById("parent");

                const div = document.createElement("div");
                div.className = "memb";
                div.id = userId;

                const img = document.createElement("img");
                img.setAttribute("src", imgSrc);

                const p = document.createElement("p");
                p.className = "name";
                p.innerText = userName;

                div.appendChild(img);
                div.appendChild(p);

                parent.appendChild(div);

                //All users on this Event
                const list = document.querySelectorAll(".memb");
                console.log(list);

                const form = document.getElementById("eventForm");

                const input = document.createElement("input");
                input.hidden = true;
                input.name = "userId";
                input.setAttribute("value", userId);
                console.log("OK1")
                form.appendChild(input);


                //CREATE Shedule Block для учасників події

                // создаем родительский элемент
                const parent2 = document.getElementById("parent_Shedules");

                // создаем дочерний элемент "div" и добавляем ему класс "shedule"
                const schedule = document.createElement("div");
                schedule.classList.add("shedule");

                // создаем элемент "div" и добавляем ему класс "day"
                const day = document.createElement("div");
                day.classList.add("day");
                day.textContent = dateStart; // добавляем текст в элемент

                // создаем первую строку времени
                const timeSpanRow1 = document.createElement("div");
                timeSpanRow1.classList.add("time-span-row");

                // создаем элементы времени и добавляем их в первую строку времени
                for (let i = 7; i <= 22; i++) {
                    const time = document.createElement("div");
                    time.textContent = i + "-00";
                    timeSpanRow1.appendChild(time);
                }

                // создаем 
                const timeSpanRow2 = document.createElement("div");
                timeSpanRow2.classList.add("time-span-row", "time-blocks");

                //block c классом "time-change-block"
                const timeChange_Block = document.createElement("div");
                timeChange_Block.classList.add("time-change-block");
                timeSpanRow2.appendChild(timeChange_Block);


                // создаем элементы для блоков времени и добавляем их во вторую строку времени
                for (let i = 0; i < 16; i++) {
                    const timeBlock = document.createElement("div");
                    timeBlock.classList.add("time-block");
                    timeSpanRow2.appendChild(timeBlock);
                }

                // создаем третью строку времени
                const timeSpanRow3 = document.createElement("div");
                timeSpanRow3.classList.add("time-span-row");

                // создаем 17 элементов и добавляем их в третью строку времени
                for (let i = 0; i < 17; i++) {
                    const empty = document.createElement("div");
                    timeSpanRow3.appendChild(empty);
                }

                // добавляем элементы в родительский элемент
                schedule.appendChild(day);
                schedule.appendChild(timeSpanRow1);
                schedule.appendChild(timeSpanRow2);
                schedule.appendChild(timeSpanRow3);
                parent2.appendChild(schedule);


                //ADD USER for Shedule
                 //<div class="coWorkers">
                 //       <div class="people">
                 //           <img src="~/Imeg1/@ViewBag.NameUser/@ViewBag.ImgPath" />
                 //           <p class="peopleP"> @ViewBag.NameUser</p>
                 //       </div>
                 //   </div>

                const parent3 = document.getElementById("coWorkers");

                const div2 = document.createElement("div");
                div2.className = "people";
                //div2.id = userId;

                const img2 = document.createElement("img");
                img2.setAttribute("src", imgSrc);

                const p2 = document.createElement("p");
                p2.className = "peopleP";
                p2.innerText = userName;

                div2.appendChild(img2);
                div2.appendChild(p2);
              
                console.log("OK");
                parent3.appendChild(div2)





                $(".mainBox").css("display","none");// закриваємо блок з users 


            });

            $('#CheckAllDay').click(function ()
            {
                $('#time1').fadeToggle(200);
                $('#time2').fadeToggle(200);

                //var dateObject = new Date(dateStart);
                //$('#date2').val()=dateStart;

                var dateValue = $('#date1').val();
                $('#date2').val(dateValue);
            });
        });


        function myFunction() {

        }

        //var dateInput = document.getElementById("date1");
        //dateInput.value = "@ViewBag?.Date";
        //var dateEnd = document.getElementById("date2");
        //dateEnd.value = "@ViewBag?.DateEnd";


        function toggleElements(className) {
            var elements = document.getElementsByClassName(className);
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                } else {
                    elements[i].style.display = "none";
                }
            }
        }

    </script>




</body>