@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Event
<link type="text/css" rel="stylesheet" href="/css/NewEvent.css">
<style>


    input[type="date"] {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.313rem 0.813rem;
        gap: 0.438rem;
        width: 10.625rem;
        height: 2.313rem;
        left: 0.5rem;
        top: 9.313rem;
        background: #111624;
        border: 1px solid #52a7e4;
        border-radius: 0.625rem;
        color: #52a7e4;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        transform: (-50%, -50%);
        background: url("/img/free-icon-calendar-747824.png") no-repeat center;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 95%;
        padding: 0.313rem;
    }
</style>

<body>
    <div class="mainDiv">
        <p class="pNew">Нова подія</p>
        <form asp-controller="Event" asp-action="AddEvent" method="post">
        <div class="insideDiv">
            <div>
                <label class="labelF">Нова подія </label>
                <input type="text" class="inputF" asp-for="@Model.EventName" />
            </div>

            <div class="divTime">
                <div class="timeText">
                    <p class="time">Час події</p>
                </div>

                <div class="containerTime">
                    <div class="textDateTime">
                        <p>Дата і час початку</p>
                    </div>

                    <div class="end">
                        <span class="endP">Дата і час закінчення</span>
                    </div>
                </div>

                <div class="divDate">
                        <input type="date" name="dateStart" />
                        <input type="time" class="superstyle" id="dateBeginInput" asp-for="@Model.Begin" />
                    <div class="ture"></div>
                        <input type="date" name="dateEnd" />
                        <input type="time" class="superstyle" id="dateEndInput" asp-for="@Model.End" />
                </div>

                <div class="checkAllDay">
                        <input type="checkbox" id="CheckAllDay"/>
                    <span>Весь день</span>
                </div>
            </div>
            <hr />

            <div class="description">
                <div class="divDescr">
                    <p class="styleP">Опис</p>
                </div>
                <textarea  
                    asp-for="@Model.Description"
                          cols="10"
                          rows="3"
                          placeholder="Enter text . . ."></textarea>
            </div>
            <hr />
@*
            <div class="description">
                <div class="divDescr">
                    <p class="styleP">Місце проведення</p>
                </div>
                @*<select name="placeSpend">

                        @foreach (PlaceForMeasure item in ViewBag.Place)
                        {
                            <option value="@item.Id">@item.PlaceForMeasureName</option>
                        }
                </select>
            </div>*@
            <hr />

            <div class="description">
                <div class="divDescr">
                    <p class="styleP">Учасники</p>
                </div>

                <div class="members">
                    <div class="memb">
                        <img src="/img/girl2.jpg" />
                        <p class="name">Julia Roberts</p>
                    </div>
                    <button onclick="AddMembers">+ Додати</button>
                        <div class="mainBox">
                            <button class="membersWindow">учасники</button>

                            <div class="box">
                                <!-- <div class="first">
                                  <div class="block">
                                    <img src="./Img/photo.jpeg" />
                                    <p>W1sh Agony</p>
                                    <div>
                                      <input class="inpSearch" type="search" placeholder="Пошук" />
                                    </div>
                                  </div>
                                </div>  -->

                                <div class="secondBox">
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                    <div class="inBox">
                                        <img src="./Img/Indian-Girl-Images-042202.jpg" />
                                        <p>Джейсон Фрич</p>
                                        <div class="bird">&#10004;</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
            <hr />

            <p class="co">Співробітники</p>

            <div class="hard">
                <div class="coWorkers">
                    <div class="people">
                        <img src="/img/girl2.jpg" />
                        <p class="peopleP">Михайло Фома</p>
                    </div>
                </div>

                <div class="shedule">
                    <div class="day">Субота, Лютий 25</div>

                    <div class="time-span-row">
                        <div>7-00</div>
                        <div>8-00</div>
                        <div>9-00</div>
                        <div>10-00</div>
                        <div>11-00</div>
                        <div>12-00</div>
                        <div>13-00</div>
                        <div>14-00</div>
                        <div>15-00</div>
                        <div>16-00</div>
                        <div>17-00</div>
                        <div>18-00</div>
                        <div>19-00</div>
                        <div>20-00</div>
                        <div>21-00</div>
                        <div>22-00</div>
                        <div>23-00</div>
                        <div>00-00</div>
                    </div>

                    <div class="time-span-row time-blocks">
                        <div class="time-change-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                    </div>

                    <div class="time-span-row">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="hard">
                <div class="coWorkers">
                    <div class="people">
                        <img src="./ImgEvent/girl2.jpg" />
                        <p class="peopleP">Михайло Фома</p>
                    </div>
                </div>

                <div class="shedule">
                    <div class="day">Субота, Лютий 25</div>

                    <div class="time-span-row">
                        <div>7-00</div>
                        <div>8-00</div>
                        <div>9-00</div>
                        <div>10-00</div>
                        <div>11-00</div>
                        <div>12-00</div>
                        <div>13-00</div>
                        <div>14-00</div>
                        <div>15-00</div>
                        <div>16-00</div>
                        <div>17-00</div>
                        <div>18-00</div>
                        <div>19-00</div>
                        <div>20-00</div>
                        <div>21-00</div>
                        <div>22-00</div>
                        <div>23-00</div>
                        <div>00-00</div>
                    </div>

                    <div class="time-span-row time-blocks">
                        <div class="time-change-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                        <div class="time-block"></div>
                    </div>

                    <div class="time-span-row">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="checkConfirm">
                <label>
                    Сповіщати про підтвердженні/відмові учасників
                    <input type="checkbox" />
                </label>
            </div>
            <div class="buttons">
                <button type="submit">Зберегти</button>
                <button type="reset">Відмінити</button>
            </div>
        </div>
        </form>

         <select name="placeSpend">

                        @foreach (Student item in ViewBag.Stud)
                        {
                            <option value="@item.Id">@item.StudentName</option>
                        }
                </select>

    </div>


    <script>

        var dateBegin = document.getElementById("dateBeginInput");
        var dateEnd = document.getElementById("dateEndInput");
        
      
        function toggleElements(className) {
            var elements = document.getElementsByClassName(className);
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                } else {
                    elements[i].style.display = "none";
                }
            }
        }

       
       
        function updateDates() {
            var checkbox = document.getElementById("checkbox");
            var date1 = document.getElementById("Date").value;
            var date2 = document.getElementById("DateEnd"); if (checkbox.checked) {
                date2.value = date1;
            } else {
                date2.value = "@ViewBag.DateEnd";
            }
        }
        function myFunction() {
            toggleElements('element-time');
            updateDates();
        }

        
        var dateInput = document.getElementById("Date");
        dateInput.value = "@ViewBag?.Date";
        var dateEnd = document.getElementById("DateEnd");
        dateEnd.value = "@ViewBag?.DateEnd";


    </script>



    <script src="~/js/jquery-3.6.1.min.js" asp-append-version="true"></script>

    <script src="~/js/file.js" asp-append-version="true"></script>

</body>