@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/teacher.css" asp-append-version="true" />
<style>

    .hiden
    {
        display:none;
    }
    .active
    {
        display: block;
    }

</style>
<body>
    <style></style>

    <div class="container">
        <div class="gridBox">
            <div class="leftBox">
                <div><h2>Викладач</h2></div>

                <div class="avatar">
                    <img class="avatar" src="~/imeg1/@ViewBag.Useres.UserName/@ViewBag.Useres.PathImgAVA" />
                </div>

                <div class="status">
                    <p>
                        <span class="pStatus">Status:</span>
                        <span class="online">Online</span>
                        <span class="ofline">Ofline</span>
                    </p>
                </div>
            </div>

            <div class="rightBox">
                <div class="infoBox">
                    <div class="top">Info</div>

                    @*User // if Director click*@
                    @if(ViewBag.CurrentRole == 1)  @*1 это роль директора*@
                    {
                        
                    <div class="hiden active">
                      
                        <div class="box">
                            <div><p class="infoField">Name</p></div>
                            <span class="infoResult">@ViewBag.Useres.UserName</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Phone</p></div>
                            <span class="infoResult">@ViewBag.Useres.Phone</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Email</p></div>
                            <span class="infoResult">@ViewBag.Useres.Email</span>
                        </div>
                        <div class="box">
                            <div><p class="infoField">Password</p></div>
                            <span class="infoResult">@ViewBag.Useres.Password</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Date Birthday</p></div>
                            <span class="infoResult">@ViewBag.Useres.Birthdate</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Pasport Number</p></div>
                            <span class="infoResult">@ViewBag.Useres.PassportNumber</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Date Of Passport Issue</p></div>
                            <span class="infoResult">@ViewBag.Useres.DateOfPassportIssue</span>
                        </div>
                        <div class="box">
                            <div><p class="infoField">ІНН</p></div>
                            <span class="infoResult">@ViewBag.Useres.TIN</span>
                        </div>
                        </div>
                    }
                    else if(@ViewBag.CurrentRole == 2)@*2 это роль менеджера*@
                    {
                    @*User // Maneger click*@

                    <div class="hiden active">


                        <div class="box">
                            <div><p class="infoField">Name</p></div>
                            <span class="infoResult">@ViewBag.Useres.UserName</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Phone</p></div>
                            <span class="infoResult">@ViewBag.Useres.Phone</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Email</p></div>
                            <span class="infoResult">@ViewBag.Useres.Email</span>
                        </div>
                        <div class="box">
                            <div><p class="infoField">Password</p></div>
                            <span class="infoResult">@ViewBag.Useres.Password</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Date Birthday</p></div>
                            <span class="infoResult">@ViewBag.Useres.Birthdate</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Pasport Number</p></div>
                            <span class="infoResult">@ViewBag.Useres.PassportNumber</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Date Of Passport Issue</p></div>
                            <span class="infoResult">@ViewBag.Useres.DateOfPassportIssue</span>
                        </div>
                        <div class="box">
                            <div><p class="infoField">ІНН</p></div>
                            <span class="infoResult">@ViewBag.Useres.TIN</span>
                        </div>
                    </div>
                    }
                    else if(@ViewBag.CurrentRole == 3) @*3 это роль юзера*@
                    { 
                    @*User // User click*@
                    <div class="hiden active">
                        <div class="box">
                            <div><p class="infoField">Name</p></div>
                            <span class="infoResult">@ViewBag.Useres.UserName</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Phone</p></div>
                            <span class="infoResult">@ViewBag.Useres.Phone</span>
                        </div>

                        <div class="box">
                            <div><p class="infoField">Email</p></div>
                            <span class="infoResult">@ViewBag.Useres.Email</span>
                        </div>
                      
                        <div class="box">
                            <div><p class="infoField">Date Birthday</p></div>
                            <span class="infoResult">@ViewBag.Useres.Birthdate</span>
                        </div>
                    </div>
                    }

                    

                </div>
            </div>
            <p>@ViewBag.CurrentRole</p>
            <div style="padding-top:2rem;" class="buttonDiv"><button class="button">Send Message</button></div>
        </div>
        
    </div>
</body>